<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;


}
body{
  background: #262626;
}
p{

  font-size: 10px;
  line-height: 10px;
  background: url(11.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;

  -webkit-background-clip:text;
  -webkit-text-fill-color:rgb(90, 255, 0, 0.1);


}

</style>
